* {
  padding: 0;
  box-sizing: 0;
  box-sizing: border-box;
}

.main-header {
  background-image: url('../istockphoto-1356364287-612x612.jpg');
  background-size: cover;

  .background-header {
    background-image: linear-gradient(to top right,#121214d1 40%, #15d47b87 96%);
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
  }
}

::-webkit-scrollbar-thumb {
  background-color: #14a862;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #242428;
}

.what-you-will-learning {
  background-image: linear-gradient(to right,#202024,40%,#17171a);
}

.prince-table {
  background-image: linear-gradient(to top right,#202024,30%,#17171a);
}